.rockets {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1.7rem;
  }

  .rocket {
    display: flex;
    margin: 2rem 10%;
  }

  .rocket .rocket-text {
    margin-top: 1rem;
    margin-left: 2rem;
  }

  .rocket-text h2 {
    margin-bottom: 1rem;
  }

  .rocket-text p {
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 1rem;
  }

  .rocket-text button {
    color: #fff;
    border: none;
    padding: 1rem 1.7rem;
    border-radius: 5px;
    cursor: pointer;
  }

  .rocket-text .reserve{
    background-color: #0290ff;
  }

  .rocket-text .cancel{
    background-color: #7c7c7c;
  }

  .rocket-text button:hover {
    background-color: #0472c7;
  }

  .rocket-text .cancel:hover {
    background-color: #c9c9c9;
  }
  .rocket img {
    width: 27rem;
    height: 20rem;
    border: 1px solid rgb(173, 173, 173);
    padding: .3rem;
    border-radius: 7px;
  }

  .rocket span {
    background-color: #0290ff;
    border-radius: 5px;
    margin-right: .5rem;
  }
