.table {
  border-collapse: collapse;
  font-size: 1.4rem;
  width: 95%;
  margin: 3rem auto;
}

.tableData {
  border: 2px solid #ddd;
  padding: 1rem;
}

.tableData:first-child {
  vertical-align: text-top;
}

.tableHeading {
  border: 2px solid #ddd;
  padding: 0.5rem 1rem;
  text-align: left;
}

.missionName {
  color: rgb(63, 63, 63);
  font-weight: 600;
}

.description {
  font-size: 1.25rem;
}

.missionButton {
  text-decoration: none;
  padding: 0.6rem;
  background-color: transparent;
  border: 2px solid rgb(63, 63, 63);
  color: rgb(63, 63, 63);
  font-weight: 600;
  cursor: pointer;
}

.label {
  width: 12rem;
  text-align: center;
}

.missionButton.joined {
  border: 2px solid orangered;
  color: orangered;
}

.notAMember {
  background-color: rgb(63, 63, 63);
  color: white;
  padding: 0.4rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.activeMember {
  background-color: rgb(0, 119, 255);
  color: white;
  font-size: 1rem;
  padding: 0.4rem 0.6rem;
  border-radius: 2rem;
}
