*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
}

.rockets {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.7rem;
}

.rocket {
  display: flex;
}
